<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <title>Subscription Expiration</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add custom CSS to center content */
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container text-center">
        <h1 class="mt-5">Subscription Expiration</h1>
        <div class="alert alert-primary mt-3">
            {% if days_left >= 0 %}
                You have <strong>{{ days_left }} days</strong> left until your subscription expires.
            {% else %}
                <strong>Your subscription has expired.</strong>
            {% endif %}
        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts at the end of the body to improve page loading performance -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
